<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;bootstrap-polymer&gt; - &lt;bp-button&gt;</title>

  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../styles/bootstrap-polymer.css">

  <script src="http://www.polymer-project.org/1.0/components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bp-button.html">

</head>
<body>
<div class="container">
  <div class="bp-examples">
    <bp-button size="xs">Button</bp-button>
    <bp-button size="xs" kind="primary">Button</bp-button>
    <bp-button size="xs" kind="success">Button</bp-button>
    <bp-button size="xs" kind="info">Button</bp-button>
    <bp-button size="xs" kind="warning">Button</bp-button>
    <bp-button size="xs" kind="danger">Button</bp-button>
    <bp-button size="xs" kind="link">Button</bp-button>
  </div>
  <div class="bp-examples">
    <bp-button size="sm">Button</bp-button>
    <bp-button size="sm" kind="primary">Button</bp-button>
    <bp-button size="sm" kind="success">Button</bp-button>
    <bp-button size="sm" kind="info">Button</bp-button>
    <bp-button size="sm" kind="warning">Button</bp-button>
    <bp-button size="sm" kind="danger">Button</bp-button>
    <bp-button size="sm" kind="link">Button</bp-button>
  </div>
  <div class="bp-examples">
    <bp-button>Button</bp-button>
    <bp-button kind="primary">Button</bp-button>
    <bp-button kind="success">Button</bp-button>
    <bp-button kind="info">Button</bp-button>
    <bp-button kind="warning">Button</bp-button>
    <bp-button kind="danger">Button</bp-button>
    <bp-button kind="link">Button</bp-button>
  </div>
  <div class="bp-examples">
    <bp-button size="lg">Button</bp-button>
    <bp-button size="lg" kind="primary">Button</bp-button>
    <bp-button size="lg" kind="success">Button</bp-button>
    <bp-button size="lg" kind="info">Button</bp-button>
    <bp-button size="lg" kind="warning">Button</bp-button>
    <bp-button size="lg" kind="danger">Button</bp-button>
    <bp-button size="lg" kind="link">Button</bp-button>
  </div>
  <div class="bp-examples">
    <bp-button block="true">Button</bp-button>
    <bp-button kind="primary" block="true">Button</bp-button>
    <bp-button kind="success" block="true">Button</bp-button>
    <bp-button kind="info" block="true">Button</bp-button>
    <bp-button kind="warning" block="true">Button</bp-button>
    <bp-button kind="danger" block="true">Button</bp-button>
    <bp-button kind="link" block="true">Button</bp-button>
  </div>
</div>
</body>
</html>