<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;bootstrap-polymer&gt; - &lt;bp-alert&gt;</title>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"
          integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
          crossorigin="anonymous"></script>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>

  <script src="http://www.polymer-project.org/1.0/components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="http://underscorejs.org/underscore.js"></script>

  <link rel="stylesheet" href="../../styles/bootstrap-polymer.css">

  <link rel="import" href="bp-alert.html">

</head>
<body>
<div class="container">
  <div class="bp-examples">
    <bp-alert kind="success"><strong>Well done!</strong> You successfully read this important alert message.</bp-alert>
    <bp-alert kind="info"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</bp-alert>
    <bp-alert kind="warning"><strong>Warning!</strong> Better check yourself, you're not looking too good.</bp-alert>
    <bp-alert kind="danger"><strong>Oh snap!</strong> Change a few things up and try submitting again.</bp-alert>
  </div>
  <div class="bp-examples">
    <bp-alert kind="success"> <strong>Well done!</strong> You successfully read <a href="#">this important alert message</a>.</bp-alert>
    <bp-alert kind="info"><strong>Heads up!</strong> This <a href="#">alert needs your attention</a>, but it's not super important.</bp-alert>
    <bp-alert kind="warning"><strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.</bp-alert>
    <bp-alert kind="danger"><strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.</bp-alert>
  </div>
  <div class="bp-examples">
    <bp-alert dismissible kind="success"><strong>Well done!</strong> You successfully read this important alert message.</bp-alert>
    <bp-alert dismissible kind="info"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</bp-alert>
    <bp-alert dismissible kind="warning"><strong>Warning!</strong> Better check yourself, you're not looking too good.</bp-alert>
    <bp-alert dismissible kind="danger"><strong>Oh snap!</strong> Change a few things up and try submitting again.</bp-alert>
  </div>
</div>
</body>
</html>