<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;bootstrap-polymer&gt; - &lt;bp-page-header&gt;</title>

  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../styles/bootstrap-polymer.css">

  <script src="http://www.polymer-project.org/1.0/components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bp-page-header.html">

</head>
<body>
<div class="container bp-examples">
  <bp-page-header header="This is a Page Header" sub-header="with a sub header"></bp-page-header>
</div>
</body>
</html>