<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;bootstrap-polymer&gt; - &lt;bp-label&gt;</title>

  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../styles/bootstrap-polymer.css">

  <script src="http://www.polymer-project.org/1.0/components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bp-label.html">

</head>
<body>
<div class="container bp-examples">
  <bp-label kind="default">Default</bp-label>
  <bp-label kind="primary">Primary</bp-label>
  <bp-label kind="success">Success</bp-label>
  <bp-label kind="info">Info</bp-label>
  <bp-label kind="warning">Warning</bp-label>
  <bp-label kind="danger">Danger</bp-label>
</div>
</body>
</html>