<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;bootstrap-polymer&gt; - &lt;bp-jumbotron&gt;</title>

  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../styles/bootstrap-polymer.css">

  <script src="http://www.polymer-project.org/1.0/components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bp-jumbotron.html">

</head>
<body>
<div class="container bp-examples">
  <bp-jumbotron>This is a default Jumbotron.</bp-jumbotron>
  <bp-jumbotron title="Primary Jumbotron" kind="primary" action="Primary Action">This is a primary Jumbotron.</bp-jumbotron>
  <bp-jumbotron title="Success Jumbotron" kind="success" action="Success Action">This is a success Jumbotron.</bp-jumbotron>
  <bp-jumbotron title="Info Jumbotron" kind="info" action="Info Action">This is a info Jumbotron.</bp-jumbotron>
  <bp-jumbotron title="Warning Jumbotron" kind="warning" action="Warning Action">This is a warning Jumbotron.</bp-jumbotron>
  <bp-jumbotron title="Danger Jumbotron" kind="danger" action="Danger Action">This is a danger Jumbotron.</bp-jumbotron>
</div>
</body>
</html>